body {
  font-family: 'Cormorant Garamond', serif;
  font-size: 18px;
}

hr {
  length: 50%;
  color: #9D9D99;
}
.nav-bar {
  background: linear-gradient(to bottom right, #232634, #265d41);
  position: fixed;
  z-index: 10;
  box-shadow: 5px 5px 2px rgba(80, 80, 80, .5);
}

.navbar li {
  color: black;
}
.navbar li:hover {
    background-color: rgba(223, 223, 32, .5);
    padding-bottom: 0;
}

.margin-top {
    margin-top: 300px;
}

.logo {
    height: 50px;
    width: 180px;
    margin-top: -10px;
    padding: 0;
}

.logo-main {
  height: 50px;
  width: 180px;
  margin-top: 20px;
  margin-left: 20px;
  padding: 0;
}

li a {
  padding: 0;
  font-size: 18px;
}

#title-box {
    background-image: url("https://goo.gl/6koq5d");
    speed: .5;
    z-index: -10;
    min-height: 1000px;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#info-box {
    background-image: url("https://goo.gl/DQvwQc");
    /*data-speed: .5;*/
    min-height: 1000px;
    z-index: 1;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title-box {
    background-color: rgba(153, 153, 153, .9);
    min-height: 100%;
    max-height: 500px;
    width: 55%;
    text-align: center;
    margin: auto;
    /*line-height: 500px;*/
    box-shadow: 10px 10px 5px rgba(51, 51, 51, .8);
    font-family: 'Ruslan Display', cursive;
    font-size: 35px;
}

.title-box p {

}

.right {
  text-align: right;
}

.centered {
  text-align: center;
  margin: auto;
}

.margin {
  margin: 10px;
}

.card:hover {
  box-shadow: 10px 10px 5px rgb(80, 80, 80);
}

#ngView {
  z-index: 1;
}

.news-view {
  display: inline-block;
  background: linear-gradient(to bottom right, #232634, #265d41);
  width: 100%;
}

#signup-modal {
  width: 80%;
}

.social li {
  display: inline-block;
  padding: 5px;
  padding-top: 10px;
}

.twitter-box {
  padding-top: 10px;
  padding-left: 10px;
}

.footer-color {
  background: linear-gradient(to bottom right, #232634, #265d41);
  color: #9D9D99;
}

.button-width {
  width: 300px;
}
.nav-tabs {
    margin-bottom: 15px;
}
.sign-with {
    margin-top: 25px;
    padding: 20px;
}
div#OR {
    height: 30px;
    width: 30px;
    border: 1px solid #C2C2C2;
    border-radius: 50%;
    font-weight: bold;
    line-height: 28px;
    text-align: center;
    font-size: 12px;
    float: right;
    position: absolute;
    right: -16px;
    top: 40%;
    z-index: 1;
    background: #DFDFDF;
}

.title {
  color: #9D9D99;
  font-style: 'Cormorant Garamond', serif;
}

/*------Video-Background------------------*/

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: -1;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: -1;
    top: 0;
}
.video-container video.fillWidth {
    width: 100%;
}

.main-box {
  width: 55%;
  /*background-color: linear-gradient(to bottom right, rgba(35, 38, 52, .5), rgba(37, 109, 65, .5));*/
  background-color: rgba(66,43,27,.7);
  color: #daffff;
  text-align: center;
  margin-top: 10%;
  font-family: 'Ruslan Display', cursive;
  font-size: 35px;
}

/*.right {
  text-align: right;
}

.btn {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: none;
  margin-top: 10px;
  margin-right: 10px;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
    box-shadow: none;
    background-color: rgba (0, 0, 0, 0.1);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: none;
    z-index: 2;
}
.btn-primary:active, .btn-primary.active {
    background: rgba (0, 0, 0, 0.1);
    box-shadow: none;
}

.dropdown-menu {
  background-color: rgba(0, 0, 0, 0.1);
  outline: 0 none;
  box-shadow: none;
}

.dropdown-menu:hover {
  background-color: rgba(0, 0, 0, 0.1);
  outline: 0 none;
  box-shadow: none;
}*/
