<div class="margin" id="Registration">
    <form role="form" ng-submit="auth.register.submit($event)" class="form-horizontal">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" ng-model="auth.payload.name" class="form-control" placeholder="Name" />
            <label for="email">Email</label>
            <input type="email" ng-model="auth.payload.email" class="form-control" id="email" placeholder="Email" />
            <label for="username">Username</label>
            <input type="text" ng-model="auth.payload.username" class="form-control" id="username" placeholder="Username" />
            <label for="password">Create Password</label>
            <input type="password" ng-model="auth.payload.password" class="form-control" id="password" placeholder="Password" />
            <button type="submit" class="btn btn-primary btn-sm">
            Register</button>
            <button type="button" href="/login.html" class="btn btn-default btn-sm">
            Cancel</button>
        </div>
    </form>
</div>
